
body{
    font-family: "Nunito", sans-serif;
    margin:0;
}
.introContents{
    height: 100vh;
}
.introText {
    margin-bottom: 80px;
}
p,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding:0;
}
.welcomeText,#namevalue{
    font-size: 45px;
    font-weight: 600;
    color: #F65927;
    padding:50px 0 0px 0;
    display: inline;
}
span#namevalue{
    padding-left: 10px;
}
.hsptltext{
    color: #0080BF; 
    font-size: 70px; 
    font-weight: 600; 
    
}
.hsptltext span{
    display:block;
}
.inputText{
    border-radius: 8px;
    border: 1px solid #E3E8EF;
    background: #FFF;
    padding: 10px 8px 10px 18px;  
   max-width: 300px;
   display:flex;
   gap:18px;
   align-items: center;
   margin:0 auto;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
   margin-top:35px;
}
.inputText input,.inputText ::placeholder{
    border:none;
    color:#344054;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}
.inputText input:focus{
    border:none;
    outline:none;
}
.inputText input{
    width:100%;
}
.inputText img{
    max-width:15px;
}
.continueExpoButton  button {
    color: #FFF;
    font-size: 25px;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    line-height: normal; 
    text-decoration: none;
    background-color:transparent;
    border: transparent;
    cursor: pointer;
    width: 100%;
}
.continueExpoButton button {
    /* width:100%; */
    width: 328px !important;
    text-align:center;
    background-color: rgba(246, 89, 39);
}
.continueExpoButton button {
    border-radius: 8px;
    background: #F65927; 
    padding:10px 0;
    margin:25px auto 0 auto;
    cursor: pointer;
}
.continueExpoButton button {
    max-width: 328px;
}
.continueExpoButton button {
    font-size:18px;
}
/* .continueExpoButton button button{
    width:100%;
    border-radius: 8px;
    text-align:center;
    padding:15px 0;
    max-width: 250px;
    margin:50px auto 0 auto;
    cursor: pointer;
    background-color: rgba(246, 89, 39);
} */
.continueExpoButton button{
    text-align:center;
    cursor: pointer;
    width: 100%;
}
.threeImages h2{
    color: #464646;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 5px;
}
.avtharDescription{
    color: gray;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
}
.introContents{
    display: flex;
    align-items: center;
    justify-content:center;
}
.introText{
    text-align:center;
}
.threeImagesContents{
    display:flex;
    gap:30px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom:30px;
}
.images{
    height:200px;
    width:200px;
}
.images img{
    object-fit: contain;
    width: 100%;
    height:100%;
    cursor: pointer;
}
.threeImages{
    text-align: center;
display: flex;
height: 100vh;
flex-direction: column;
justify-content: center;
align-items: center;
}
.logoImg{
    max-width:250px;
}
.logoContents{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.chosenMaleAvtar,.chosenFemaleAvtar{
    display:none;
}
.images.mainImg .maleAvtar,.images.mainImg .chosenFemaleAvtar{
    display:block;
}
.images.mainImg .chosenMaleAvtar,.images.mainImg .femaleAvtar{
    display:none;
}
.threeImagesContents.imagesSelection .chosenMaleAvtar{
    display:block;
}
.threeImagesContents.imagesSelection .maleAvtar{
    display:none;
}
.threeImagesContents.imagesSelectionBefore .chosenFemaleAvtar,.threeImagesContents.imagesSelectionBefore .maleAvtar{
    display:none;
}
.threeImagesContents.imagesSelectionBefore .chosenMaleAvtar{
    display:block;
}
.threeImagesContents.imagesSelectionBefore.imagesSelectionMedium .maleAvtar{
    display:block;
}
.threeImagesContents.imagesSelectionBefore.imagesSelectionMedium .chosenMaleAvtar{
    display:none;
}
.threeImagesContents.imagesSelectionMedium.imagesSelectionBefore .chosenFemaleAvtar{
    display:none!important;
}
/* .threeImagesContents.imagesSelectionBefore #avthar1 .maleAvtar{
    display:block;
}
.threeImagesContents.imagesSelectionBefore #avthar1 .chosenMaleAvtar{
    display: none;
} */
/* .threeImagesContents.imagesSelectionBefore . */
@media only screen and (max-width:1300px){
    .welcomeText,#namevalue{
        font-size: 35px;
        padding-bottom: 10px;
    }
    .hsptltext{
        font-size:50px;
        padding-bottom: 15px;
    }
    .enterExpoButton button,.continueExpoButton button {
        font-size: 18px;
    }
    /* .enterExpoButton,.continueExpoButton button{
        padding: 10px 0;
        max-width: 175px;
        margin: 25px auto 0 auto;
    } */
}
@media only screen and (max-width:992px){
    .welcomeText,#namevalue{
        font-size: 35px;
    }
    .hsptltext{
        font-size:40px;
        font-weight:700;
        padding-top:10px;
    }
    /* .inputText {
        padding: 5px 8px 5px 18px;
    } */
    .inputText input, .inputText ::placeholder {
        font-size: 16px;
    }
    .introText {
        width: 95%;
        margin:0 auto 150px auto;
    }
    .inputText{
        margin-top:60px;
    }
    .welcomeText,#namevalue{
        padding: 100px 0 0px 0;
    }
    /* .logoImg {
        max-width: 200px;
        object-fit: contain;
    } */
    .logoImg {

        max-width: 200px;
    
    }
    /* .inputText {
        max-width: 300px;
    } */
    .inputText img {
        max-width: 11px;
    }
    /* .enterExpoButton {
        max-width: 140px;
    } */
    .enterExpoButton button,.continueExpoButton button button {
        font-size: 16px;
    }
}
@media only screen and (max-width:992px){
    .images {
        height: 150px;
        width: 150px;
        border-radius: 8px;
    }
    /* .hsptltext {
        font-size: 30px;
    } */
    .threeImages h2 {
        font-size: 30px;
        margin-bottom: 0;
    }
    .avtharDescription {
        font-size: 18px;
    }
    .threeImagesContents {
        margin-bottom: 15px;
    }
    .continueExpoButton button {
        margin:0 auto;
    }
    .continueExpoButton button {
       max-width: 200px;
        margin: 0 auto;
    }
    .continueExpoButton button  {
        padding: 8px 0;
        margin-top: 10px;
    }
    .avtharDescription {
        margin-bottom: 10px!important;
    }
}
@media only screen and (max-width:700px){
    .introText {
        margin: 0 auto 90px auto;
    }
}
@media only screen and (max-width: 500px) {
    .hsptltext {
        font-size: 32px;
    }
}
/* @media only screen and (max-width:390px){
    .images {
        height: 80px;
        width: 80px;
    }
} */
@media only screen and (max-width:360px){
    .poweredBy {
        max-width: 300px;
    }
}
@media only screen and (max-width:1600px){
    .hsptltext {
        color: #0080BF;
        font-size: 45px;
        font-weight: 600;
    }
    .introText {
        margin-bottom: 40px;
    }
    .logoImg {
        max-width: 150px;
    }
    }
    .popup {
        display: none;
        position: fixed;
        height:15%;
        width:15%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        border: 1px solid red;
        padding: 10px;
        z-index: 9999;
        border-radius: 15px;
    }
    
    
#close-icon {
position: absolute;
top: 5px; /* Adjust top position as needed */
right: 10px; /* Adjust right position as needed */
cursor: pointer;
background-color: #464646;
width:20px;
height:20px;
border-radius: 50%;
color:#E3E8EF
}
#error-message{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
height: 100%;
}

#overlay {
display: none;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
z-index: 9998; /* Ensure overlay is below popup */
}

#namevalue{
color:#0080BF
}
#name-container{
display: flex;
}